.card {
    background-color: white;
    border-radius: 4px;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 216px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.card .overlap {
    background-color: #e9e9eb26;
    height: 142px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 216px;
}

.card .plus {
    height: 100px;
    left: 58px;
    position: absolute;
    top: 21px;
    width: 100px;
}

.card .text-wrapper {
    color: #1f1f1f;
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 159px;
    width: 216px;
}

.card .enter-btn {
    height: 40px;
    left: 50px;
    position: absolute;
    top: 211px;
    width: 117px;
}

.card .overlap-group {
    background-color: #444444;
    border-radius: 180px;
    box-shadow: 0px 4px 4px #00000040;
    height: 40px;
    position: relative;
    width: 115px;
}

.card .div {
    color: #ffffffe6;
    direction: rtl;
    font-family: "Halant", Helvetica;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 0;
    width: 115px;
}
