.card1 {
    background-color: white;
    border-radius: 4px;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 216px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.card1 .overlap-group {
    background-size: 100% 100%;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 216px;
}

.card1 .img1 {
    background-size: 100% 100%;
    height: 152px;
    left: 0;
    position: absolute;
    top: 0;
    width: 216px;
}

.card1 .rectangle {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.29%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 4px 4px 0px 0px;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 216px;
}

.card1 .left-corner {
    height: 22px;
    left: 3px;
    position: absolute;
    top: 123px;
    width: 106px;
}

.card1 .text-wrapper {
    color: var(--black-whitewhite);
    font-family: "Archivo", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 22px;
    left: 20px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.card1 .div {
    color: var(--black-whitewhite);
    font-family: "Archivo", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 22px;
    left: 62px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 0;
    width: 40px;
}

.card1 .frame {
    height: 18px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 18px;
}

.card1 .heart {
    height: 18px;
    left: 42px;
    position: absolute;
    top: 2px;
    width: 18px;
}

.card1 .text-wrapper-2 {
    color: #1f1f1f;
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 24px;
    left: 131px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 159px;
    white-space: nowrap;
}

.card1 .overlap {
    height: 18px;
    left: 33px;
    position: absolute;
    top: 210px;
    width: 183px;
}

.card1 .text-wrapper-3 {
    color: var(--neutral-600);
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 18px;
    left: 126px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 0;
    width: 57px;
}

.card1 .text-wrapper-4 {
    color: var(--neutral-600);
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 0;
    width: 132px;
}

.card1 .overlap-2 {
    height: 18px;
    left: 5px;
    position: absolute;
    top: 240px;
    width: 211px;
}

.card1 .text-wrapper-5 {
    color: var(--neutral-600);
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 18px;
    left: 125px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 0;
    width: 86px;
}

.card1 .text-wrapper-6 {
    color: var(--neutral-600);
    font-family: "Archivo", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 139px;
}

.card1 .element {
    color: var(--neutral-600);
    direction: rtl;
    font-family: "Archivo", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 18px;
    left: 60px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 270px;
    width: 156px;
}

.card1 .switch-instance {
    background-color: #ffca45 !important;
    height: 20px !important;
    left: 12px !important;
    position: absolute !important;
    top: 162px !important;
    width: 30px !important;
}

.card1 .design-component-instance-node {
    height: 15px !important;
    left: 15px !important;
    width: 13px !important;
}

.card1 .bin {
    height: 32px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 264px;
    width: 35px;
}


